Sepearting check Chartevent Feature into Columns

In [9]:
import pandas as pd
import numpy as np

In [10]:
HADM = np.load('MIMIC_3/admission_first_ids.npy',allow_pickle=True)
HADM = HADM.item().get('admission_ids')

In [11]:
admission = pd.read_parquet("MIMIC_3/ADMISSIONS.parquet")
service = pd.read_parquet("MIMIC_3/SERVICES.parquet")

In [12]:
X = admission['hadm_id'].isin(HADM)
Y = service['hadm_id'].isin(HADM)

In [13]:
admissions_df = admission[X]
services_df = service[Y]

In [14]:
admissions = pd.DataFrame()
services = pd.DataFrame()

admissions['subject_id'] = admissions_df['subject_id']
services['subject_id'] = services_df['subject_id']

admissions['date'] = [d.date() for d in admissions_df['admittime']]
admissions['time'] = [d.time() for d in admissions_df['admittime']]

services['date'] = [d.date() for d in services_df['transfertime']]
services['time'] = [d.time() for d in services_df['transfertime']]

admissions['service_type'] = admissions_df['admission_type']
services['admission_type'] = services_df['curr_service']

In [16]:
import datetime as dt

admissions2 = admissions
services2 = services

admissions['date'] = pd.to_datetime(admissions.date, format='%Y-%m-%d')
services['date'] = pd.to_datetime(services.date, format='%Y-%m-%d')

from sklearn.preprocessing import LabelEncoder 
labelencoder = LabelEncoder() #initializing an object of class LabelEncoder
admissions2['service_type'] = labelencoder.fit_transform(admissions['service_type']) #fitting and transforming the desired categorical column.

labelencoder2 = LabelEncoder() #initializing an object of class LabelEncoder
services2['admission_type']  = labelencoder.fit_transform(services['admission_type'] ) #fitting and transforming the desired categorical column.

In [9]:
admissions.head(5)

   subject_id       date      time  service_type
0          22 2196-04-09  12:26:00             1
1          23 2153-09-03  07:15:00             0
3          24 2139-06-06  16:14:00             1
4          25 2160-11-02  02:06:00             1
5          26 2126-05-06  15:16:00             1

In [10]:
services.head(5)

   subject_id       date      time  admission_type
0         471 2122-07-22  14:07:27               6
1         471 2122-07-26  18:31:49              18
2         472 2172-09-28  19:22:15               0
3         473 2201-01-09  20:16:45               7
4         474 2181-03-23  08:24:41               7

In [11]:
admissions.to_csv('ProcessedFiles/admissions.csv', encoding='utf-8')
services.to_csv('ProcessedFiles/services.csv', encoding='utf-8')